body {
    font-family: 'Montserrat', sans-serif;
}


/*         HEADER        */

.header {
    position: fixed;
    z-index: 90;
    height: 120px;
    width: 100%;
    min-width: 1200px;
    background: rgba(94, 93, 88, 0.6);
}
.container {
    height: 100%;
    max-width: 1160px;
    margin: 0 auto;
}
.header-wrapper {
    height: 100%;
    width: 100%;
}
header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*       LOGOTYPE        */

.header__logotype {
    text-decoration: none;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: max-content;
    color: #FFFFFF;
}
.logotype-img::before {
    content: "";
    position: absolute;
    border-bottom: 18px solid #18CFAB;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    top: -10px;
    left: 0;
}
.logotype-img {
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    background-color: #18CFAB;
    width: 58px;
    text-align: center;
}
.logotype-img::after {
    content: "";
    position: absolute;
    border-top: 18px solid #18CFAB;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    top: 40px;
    left: 0;
}
.logotype-name {
    font-size: 0;
}
.logotype-name-the {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    margin-left: 6px;
}
.logotype-name-ham {
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 48px;
    color: #18CFAB;
}

/*      LOGOTYPE END      */


/*     TOP NAVIGATION      */

.top-navigation {
    font-size: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 22px;
}
.top-navigation li:before {
    content: "";
    position: absolute;
    background-color: #18CFAB;
    transition: .2s;
    width: 0;
    height: 0;
    top: 25px;
    left: 50%;
    opacity: .5;
}
.top-navigation li:hover:before {
    transition: .2s;
    transform: scaleX(2);
    width: 50%;
    height: 2px;
    top: 70px;
    left: 25%;
    opacity: 1;
}
.top-navigation li {
    position: relative;
    display: block;
    width: 100%;
}
.top-navigation li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    width: 100%;
}
.top-navigation li a:hover {
    color: #18CFAB;
}

/*    TOP NAVIGATION END    */


/*       TOP SEARCH         */
.top-search {
    margin-left: 22px;
}
.search-button:before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.6);
    top: 1px;
    left: 1px;
}
.search-button {
    position: relative;
    height: 21px;
    width: 21px;
    border: 0;
    border-radius: 2px;
    background-color: transparent;
    transition: .5s;
}
.search-button:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 7px;
    rotate: 45deg;
    background-color: rgba(255, 255, 255, 0.6);
    top: 15px;
    left: 13px;
}
.search-button:hover {
    background-color: grey;
    transition: .5s;
}

.search-field {
    background-color: #4E4E4E;
    border: 0;
    display: none;

}

/*      TOP SEARCH END      */


/*    MAIN BANNER SECTION    */
.main-banner-wrapper {
    background-image: url("../img/we_are_creative_bg_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-banner-contents {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 22px;
    color: #FFFFFF;
}
.main-banner-section__the-ham-description {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}
.description-text-wordpress-theme{
    color: #18CFAB;
}
.main-banner-section__subtitle {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}
.main-banner-section__just-buy-text {
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
}

/*    MAIN BANNER SECTION buttons    */
.main-banner-section-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    margin-top: 134px;
}
.explore-now-btn,
.purchase-now-btn {
    height: 63px;
    width: 168px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    box-shadow: 0 -3px 3px #FFFFFF;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
.explore-now-btn {
    background-color: #18CFAB;
}
.purchase-now-btn {
    background-color: #00CBF6;
}
.explore-now-btn:hover {
    background-color: #17c4a2;
    transition: .3s;
}
.purchase-now-btn:hover {
    background-color: #02bde5;
    transition: .3s;
}
/*      MAIN BANNER SECTION END      */


/*      OPTION BLOCKS      */
.option-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 300px);
    background-color: #18CFAB;
    color: #FFFFFF;
    text-transform: uppercase;
}
.option-blocks div {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    height: 100%;
    width: 100%;
}
.option-blocks div:nth-child(odd)  div:nth-child(odd) {
    background-color: #1C2A33;
    color: #18CFAB;
    row-gap: 50px;
    padding-bottom: 19px;
}
/*    OPTION BLOCKS END    */

/*       OUR SERVICES       */
.our-services-section {
    height: 551px;
    width: 100%;
}
.our-services-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*       OUR SERVICES title      */
.our-services-title::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 66px;
    left: 68px;
}
.our-services-title {
    position: relative;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4E4E4E;
    margin-top: 80px;
}
.our-services-title::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 70px;
    left: 83px;
}
/*     OUR SERVICES title end    */

/*     OUR SERVICES tabs    */
.tabs-our-services {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: center;
    align-items: center;
}
.services-tabs {
    display: flex;
    flex-direction: row;
    height: 75px;
    width: 100%;
}
.service-tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #F8FCFE;
    border: 1px solid #F2F2F2;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    text-transform: capitalize;
}
.service-tab-title:hover {
    border: 1px solid #18CFAB;
}
.service-tab-active {
    border: 1px solid #18CFAB;
    position: relative;
    color: #FFFFFF;
    background: #18CFAB;
}

.service-tab-active:after {
    content: "";
    position: absolute;
    border-top: 15px solid #18CFAB;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: 75px;
}
#content-active {
    display: flex;
    flex-direction: row;
    column-gap: 15px;

}
.tabList-content .tab-content {
    display: none;
    animation: fadein .5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.content-img {
    height: 139px;
    width: 192px;
}
.content-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #474747;
}
/*     OUR SERVICES tabs end    */


/*      purchase section     */

.purchase-section {
    background-image: url("../img/purchase-section-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.purchase-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.purchase-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 60px;
}
.purchase-section-button .purchase-now-btn {
    background: #18CFAB;
}
.purchase-section-button .purchase-now-btn:hover {
    background-color: #17c4a2;
}
/*      purchase section   end  */


/*       Our Amazing Work       */
.our-amazing-work-section {
    height: 100%    ;
    width: 100%;
    background-color: #E9EDEF;
}
.our-amazing-work__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
}
.our-amazing-work__section-title:before {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 66px;
    left: 128px;
}
.our-amazing-work__section-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 95px;
    position: relative;
}
.our-amazing-work__section-title:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 70px;
    left: 143px;
}
.amazing-work-filter-tab-list {
    display: flex;
    flex-direction: row;
}
.amazing-work-filter-tab-list li {
    border: 1px solid #DADADA;
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    transition: .3s;
    cursor: pointer;
}
.amazing-work-filter-tab-list li:hover {
    color: #18CFAB !important ;
}
.our-amazing-work__active-filter-tab {
    transition: .3s;
    border: 1px solid #18CFAB !important ;
    color: #18CFAB !important ;
}

/*       amazing-work-filter-content           */
.amazing-work-filter-content-wrapper {
    margin-bottom: 70px;
}
.amazing-work-filter-content-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
}
.amazing-work-filter-content-list li {
    height: 100%;
    width: 100%;
    font-size: 0;
    display: none;
    animation: fadein .3s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.server-hide {
    display: none !important;
}
.amazing-work-filter-content-list .amazing-work-active-content {
    display: block;
}
.amazing-work-filter-content-list li:hover .amazing-work-content-img {
    display: none;
}
.amazing-work-filter-content-list li:hover .amazing-work-content-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amazing-work-content-details {
    border-top: 2px solid #18CFAB;
    background-color: #E9EDEF;
    height: 208px;
    width: 100%;
    font-size: 16px;
    display: none;
}
.amazing-work-content-img {
    height: 210px;
    width: 100%;
}
.amazing-work-content-links  {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.first-link:before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    rotate: 45deg;
    top: 20px;
    left: 9px;
}
.first-link:hover:before,
.first-link:hover:after {
    border: 3px solid #18CFAB;
}
.first-link span {
    position: absolute;
    height: 8px;
    width: 2px;
    border: 2px solid #18CFAB;
    background-color: #FFFFFF;
    border-radius: 5px;
    rotate: 45deg;
    top: 15px;
    left: 18px;
    z-index: 1;
}
.first-link:hover span {
    border: 2px solid #FFFFFF;
    background-color: #18CFAB;
}
.second-link:before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    background-color: #FFFFFF;
    border-radius: 4px;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
.second-link:hover:before {
    background-color: #18CFAB;
}
.amazing-work-content-links a {
    position: relative;
    top: -5px;
    display: block;
    text-align: center;
    height: 43px;
    width: 43px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    background-color: #18CFAB;
}
.first-link:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    rotate: 45deg;
    top: 9px;
    left: 20px;
}
.amazing-work-content-links a:hover {
    background-color: #FFFFFF;
}
.amazing-work-content-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
}
.category-name {
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
    text-transform: capitalize;
}
/*              Load More Btn                  */
.button-amazing-work:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 16px;
    background-color: #FFFFFF;
    border-radius: 1px;
    top: 30px;
    left: 27px;
}
.button-amazing-work.pseudo-hide:before {
    background-color: transparent;
}
.button-amazing-work {
    position: relative;
    height: 63px;
    width: 168px;
    background: #18CFAB;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    padding-left: 50px;
    border: 0;
    border-radius: 4px;
    transition: .3s;
}
.button-amazing-work:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 4px;
    background-color: #FFFFFF;
    border-radius: 1px;
    top: 24px;
    left: 33px;
}
.button-amazing-work.pseudo-hide:after {
    background-color: transparent;
}
.button-amazing-work:hover {
    background-color: #17c4a2;
    transition: .3s;
}
/**********LOAD ANIMATION************/
.button-amazing-work-load-animation {
    display: block;
    visibility: hidden;
    position: relative;
    width: 80px;
    height: 80px;
    top: -71px;
    left: 45px;

}
.button-amazing-work-load-animation div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #FFFFFF;
    animation: button-amazing-work-load-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.button-amazing-work-load-animation div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.button-amazing-work-load-animation div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.button-amazing-work-load-animation div:nth-child(3) {
    left: 56px;
}
@keyframes button-amazing-work-load-animation {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

/**       Breaking News Section      **/
.breaking-news-section {
    height: 950px;
    width: 100%;
    background-color: #FFFFFF;
}
.breaking-news-section-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breaking-news-section-title:before {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 66px;
    left: 92px;
}
.breaking-news-section-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 82px;
    position: relative;
}
.breaking-news-section-title:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 70px;
    left: 103px;
}
.amazing-blog-post-wrapper {
    margin-top: 100px;
}
.amazing-blog-post-list {
    display: grid;
    grid-template-columns: repeat(4, 264px);
    column-gap: 35px;
    row-gap: 45px;
}
.amazing-blog-post {
    height: 280px;
    width: 263px;
}
.amazing-blog-post-link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}
 .amazing-blog-post-link img {
     transition: 10s;
 }
.amazing-blog-post-link:hover img {
    scale: 1.1;
    transition: 7s;

}
.date-of-published {
    position: absolute;
    background: #203E38;
    height: 70px;
    width: 68px;
    z-index: 1;
    right: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.amazing-blog-post-link:hover .date-of-published {
    background: #18CFAB;
    transition: .3s;
}
.author-comment-wrapper {
    background-color: #F2F4F5;
    height: 72px;
    width: 263px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}
.author-comment-wrapper span {
    margin-left: 20px;
}
.blog-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
    color: #717171;
    transition: .3s;
}
.amazing-blog-post-link:hover .blog-title {
      color: #18CFAB;
      transition: .3s;
}
.author,
.comment {
    position: relative;

    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}
.author:after {
    top: 14px;
    left: 90px;
    content: "";
    position: absolute;
    background-color: #777777;
    height: 12px;
    width: 1px;

}
.comment {
    margin-left: 0!important;
}
/****************************/


/**       What People Say Section      **/
.what-people-say-section {
    height: 850px;
    width: 100%;
    background-image: url("../img/what-people-say-section-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}
.what-people-say__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-people-say__title:before {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 66px;
    left: 250px;
}
.what-people-say__title {
    position: relative;
    margin-top: 99px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.what-people-say__title:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    top: 70px;
    left: 265px;
}
.what-people-say__quote-wrapper {
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.what-people-say__quote-wrapper:before {
    font-weight: 900;
    content: "“";
    position: absolute;
    color: #18CFAB;
    font-size: 100px;
    left: calc(100% / 2 - 22px);
    top: -86px;
    height: 50px;
    width: 88px;
}
.what-people-say__author-quote {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    height: 60px;

}
.what-people-say__author-name {
    margin-top: 30px;
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
}
.what-people-say__author-position {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}
.what-people-say__author-photo {
    margin-top: 40px;
    border-radius: 50%;
    border: 10px solid rgba(31, 218, 181, .2);
    overflow: hidden;
    height: 145px;
    width: 145px;

}
.what-people-say__author-photo img {
    height: 106%;
    width: 100%;
    object-fit: cover;
}
.what-people-say__slider-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.what-people-say-section__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.what-people-say-section__people-img {
    height: 70px;
    width: 483px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.what-people-say-section__people-img div {
    position: relative;
    height: 57px;
    width: 57px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, .2);
    overflow: hidden;
    transition: .5s;
}
.what-people-say-section__people-img div:hover img {
    scale: 1.1;
    transition: .5s;
    object-fit: cover;

}
.what-people-say-section__people-img div img {
    height: 106%;
    width: 57px;
    transition: .5s;
    cursor: pointer;
    object-fit: cover;
}
.slider-active-photo {
    transform: translateY(-10px);
    transition: .5s;
}

.slider-active-photo img {
    scale: 1.1;
    transition: .5s;
}
.what-people-say__left-slider-btn,
.what-people-say__right-slider-btn {
    position: relative;
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid #BBBBBB;
    transition: .3s;
    border-radius: 2px;
}
.what-people-say__left-slider-btn:before {
    content: "";
    position: absolute;
    border-left: 2px solid #BBBBBB;
    border-bottom: 2px solid #BBBBBB;
    top: calc(50% - 8px / 2);
    left: calc(50% - 3px);
    height: 7px;
    width: 7px;
    rotate: 45deg;
    transition: .3s;
}
.what-people-say__right-slider-btn:before {
    content: "";
    position: absolute;
    border-left: 2px solid #BBBBBB;
    border-bottom: 2px solid #BBBBBB;
    top: calc(50% - 8px / 2);
    right: calc(50% - 3px);
    height: 7px;
    width: 7px;
    rotate: -135deg;
    transition: .3s;
}
.what-people-say__left-slider-btn:hover,
.what-people-say__right-slider-btn:hover {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    transition: .3s;
}
.what-people-say__left-slider-btn:hover:before,
.what-people-say__right-slider-btn:hover:before {
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transition: .3s;
}


/*********************************/

/**************FOOTER******************/

.copyright-section {
    height: 121px;
    width: 100%;
    background: #22353F;
    text-align: center;
}
footer {
    padding-top: 48px;
}
footer span {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.copyright-section__the-ham:before {
    content: "\00a9";
    position: absolute;
    color: #AEAEAE;
    left: -122px;
}
.copyright-section__the-ham {
    position: relative;
    color: #18CFAB;
    margin-right: 8px;
}
.copyright-section__the-ham:after {
    content: "";
    position: absolute;
    height: 14px;
    width: 1px;
    background-color: #AEAEAE;
    top: 2px;
    left: 63px;
}